<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail Template</title>
</head>
<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: rgba(21, 88, 212, 0.568);
    }

    .container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 20px;
        height: 500px;
        width: 800px;
        border-radius: 10px;

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        word-wrap: break-word;

        background-color: #FFFF;
        color: rgb(8, 7, 7);
    }

    .container__title {
        text-transform: uppercase;
        letter-spacing: 5px;

        color: rgba(21, 88, 212, 0.568);
    }
</style>

<body>
    <div class="container">
        <h1 class="container__title">Newsletter</h1>
        <p class="container__text">Olá, {{nome}}! {{texto}}</p>
    </div>
</body>

</html>